/* Import fonts from Fonts File  */

@import url(./fonts.css);

@import url(./_global.css);

@import url(./_vars.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-board{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 530px;
    height: 530px;
    background-color:  #ddd ;
    padding: 2rem;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#textField{
    padding: 2rem;
    /* margin-left: 7rem; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.copy-btn{
    padding: 1rem;
    margin: 1rem;
}


span.copied{
    color: #858585;
    
    font: normal bold 25px/20px Verdana ;
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s;

   
}

span.bounce-effect{
    animation: bounceIn 0.8s linear ;
}
/* Animation ......................................... */

@keyframes bounceIn{
    0%{opacity: 0;
        transform: scale(0.3);
    }
    20%{
        transform: scale(1.1);
    }
    40%{
        transform: scale(0.9);
    }
    60%{opacity: 1;
        transform: scale(1.03);
    }
    80%{
        transform: scale(0.97);
    }
    100%{opacity: 0;
        transform: scale(1);
    }
    
}